body, html {
    margin: 0;
    height: 200%;
    overflow-x: hidden;
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: #777; /* Fallback background color */
    background-image: url('https://thegrovery.com/hubfs/homepageheader-Feb-13-2024-06-26-04-3539-PM.png'); /* Fallback background image */
    background-size: cover;
    background-position: center;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio (9 / 16 * 100) */
    min-height: 100vh;
    min-width: 177.78vh; /* 16:9 aspect ratio (16 / 9 * 100) */
    object-fit: cover; /* Ensures the video behaves like a background image */
    pointer-events: none;
    border: 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* mix-blend-mode: lighten; */
    /* background: white; */
    background: rgba(255, 255, 255, .95);
}

path {
    stroke-dasharray: 2000; /* Initial value */
    stroke-dashoffset: 2000; /* Initial value */
    transition: stroke-dashoffset 0.5s ease;
    stroke-linecap: round;
}

.hidden {
    visibility: hidden;
}
